<div class="container mt-4">
  <div class="row">
    <div class="col-md-5">
      <h1 class="display-1 text-primary">404</h1>
      <h2 class="display-4 text-primary">Page Not Found</h2>
      <p class="text-dark lead">Have a photo of my dog instead! Or</p>
      <a href="{{home}}" class="btn btn-outline-dark btn-lg">Go to the Homepage</a>
    </div>
    <div class="col-md-7 mt-4">
      <picture>
        <source media="(min-width: 1400px)"
          srcset="/img/resized/my-dog-monika-spalek_2x.jpg 2x, /img/resized/my-dog-monika-spalek_1x.jpg">
        <source media="(min-width: 1024px)" srcset="/img/resized/my-dog-monika-spalek_1024.jpg">
        <source media="(min-width: 667px)" srcset="/img/resized/my-dog-monika-spalek_667.jpg">
        <source media="(max-width: 666px)" srcset="/img/resized/my-dog-monika-spalek_375.jpg">
        <img src="../img/resized/my-dog-monika-spalek_1024.jpg" alt="my dog" class="img-fluid rounded-circle">
      </picture>
    </div>
  </div>
</div>