{{!-- MAIN NAV --}}
<nav id="main-nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a href="#home" class="navbar-brand">Express Webserver</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="#home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#crud" class="nav-link">Crud API</a>
        </li>
        <li class="nav-item">
          <a href="#about-heading" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="#contact-heading" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- SHOWCASE CAROUSEL -->
<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3">Express Webserver</h1>
            <p class="lead">Welcome to my Express JS webserver! This site shows capabilities of using Express as both a
              static site webserver and with the usage of static site generator. It also host simple CRUD API</p>
            <a href="{{about}}" class="btn btn-primary btn-lg">Learn More</a>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block mb-5">
            <h1 class="display-3">Crud API</h1>
            <p class="lead">A simple Rest API to issue basic actions of creating, reading, updating and deleting
              fictional users. You can play with the widget below to test it out.</p>
            <a href="#crud" class="btn btn-danger btn-lg">Check Out</a>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3">Contact Me</h1>
            <p class="lead">Check out my other creations or reach to me with Your web development queries</p>
            <a href="{{contact}}" class="btn btn-success btn-lg">Contact</a>
          </div>
        </div>
      </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<!-- HOME ICON SECTION -->
<section id="home-icons" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
        <i class="fas fa-space-shuttle fa-3x mb-2"></i>
        <h3>Speed</h3>
        <p>Express is faster!</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fab fa-node-js fa-3x mb-2"></i>
        <h3>Stability</h3>
        <p>Node JS stability behind the scenes</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="far fa-thumbs-up fa-3x mb-2"></i>
        <h3>Simple</h3>
        <p>Create backend code with ease</p>
      </div>
    </div>
  </div>
</section>

<!-- CRUD HEADING -->
<section id="crud-heading" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
          <h1>Are You Ready To Get Started?</h1>
          <p class="d-none d-md-block">Check out the widget below to play with the simple crud API. Add, delete, peek
            and change fictional users. Give it a spin!</p>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- CRUD SECTION --}}
<section id="crud" class="container">

  <div class="d-flex flex-row text-white align-items-stretch text-center">
    <div class="port-item p-4 bg-success" data-toggle="collapse" data-target="#get">
      <i class="fas fa-users fa-2x d-block"></i>
      <span class="d-none d-sm-block">Get</span>
    </div>
    <div class="port-item p-4 bg-warning" data-toggle="collapse" data-target="#post">
      <i class="fas fa-user-plus fa-2x d-block"></i>
      <span class="d-none d-sm-block">Post</span>
    </div>
    <div class="port-item p-4 bg-primary" data-toggle="collapse" data-target="#put">
      <i class="fas fa-user-edit fa-2x d-block"></i>
      <span class="d-none d-sm-block">Put</span>
    </div>
    <div class="port-item p-4 bg-danger" data-toggle="collapse" data-target="#delete">
      <i class="fas fa-user-times fa-2x d-block"></i>
      <span class="d-none d-sm-block">Delete</span>

    </div>
  </div>
  <!-- GET USERS -->
  <div id="get" class="collapse {{#unless errorsPost }}{{#unless errorsPut }}{{#unless errorsDel }}{{class}}{{/unless}}{{/unless}}{{/unless}}  mb-4">
    <div class="card card-body bg-success text-white py-5">
      <h2>Get Users</h2>
      <p class="lead">See a list of all submitted users.</p>
      <small class="text-dark">All listed users and their personal data is fictional. Added data is stored temporary in
        RAM and will be cleared.</small>
    </div>
    <div class="card card-body py-4">
      <h4 class="mt-3 mb-2">Members</h4>
      <ul class="list-group">
        {{#each members}}
        <li class="list-group-item">{{this.name}}: {{this.email}}</li>
        {{/each}}
      </ul>
      <a href="/api/members" class="btn btn-light mt-4">Visit API</a>
    </div>
  </div>

  <!-- POST USERS -->
  <div id="post" class="collapse {{#if errorsPost }}{{class}}{{/if}} mb-4">
    <div class="card card-body bg-warning text-white py-5">
      <h2>Create User</h2>
      <p class="lead">Add a new user to the list.</p>
      <small class="text-dark">All listed users and their personal data is fictional. Added data is stored temporary in
        RAM and will be cleared. Do not add any real personal data.</small>
    </div>
    <div class="card card-body py-4">
      <p class="lead">Please fill out fields below:</p>
      <form action="/api/members" method="POST">
        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-warning text-white">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input type="text" class="form-control bg-dark text-white" placeholder="Name" name="name">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-warning text-white">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <input type="email" class="form-control bg-dark text-white" placeholder="Email" name="email">
          </div>
        </div>
        {{#if errorsPost }}
        {{#each errorsPost }}
        <p class="alert alert-danger">{{ this.msg }}</p>
        {{/each}}
        {{/if}}
        <input type="submit" value="Submit" class="btn btn-warning btn-block btn-lg">
      </form>
      <h4 class="mt-4 mb-2">Members</h4>
      <ul class="list-group">
        {{#each members}}
        <li class="list-group-item">{{this.name}}: {{this.email}}</li>
        {{/each}}
      </ul>
      <a href="/api/members" class="btn btn-light mt-4">Visit API</a>
    </div>
  </div>


  <!-- UPDATE USERS -->
  <div id="put" class="collapse {{#if errorsPut }}{{class}}{{/if}} mb-4">
    <div class="card card-body bg-primary text-white py-5">
      <h2>Update User</h2>
      <p class="lead">Update user data of selected user.</p>
      <small class="text-dark">All listed users and their personal data is fictional. Added data is stored temporary in
        RAM and will be cleared. Do not add any real personal data.</small>
    </div>
    <div class="card card-body py-4">
      <p class="lead">Please fill out at least one of the fields below and select user:</p>
      <form id="formPut" action="/api/members/0?_method=PUT" method="POST">
        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-primary text-white">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input type="text" class="form-control bg-dark text-white" placeholder="Name" name="name">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-primary text-white">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <input type="email" class="form-control bg-dark text-white" placeholder="Email" name="email">
          </div>
        </div>
        {{#if errorsPut }}
        {{#each errorsPut }}
        <p class="alert alert-danger">{{ this.msg }}</p>
        {{/each}}
        {{/if}}
        <input type="hidden" name="test" id="hidden">
        <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">
      </form>
      <h4 class="mt-4 mb-2">Members</h4>
      <ul class="list-group">
        {{#each members}}
        <li class="list-group-item">{{this.name}}: {{this.email}} <input type="radio" id="{{this.id}}" name="id"
            value="{{this.id}}" class="ml-2"></li>
        {{/each}}
      </ul>
      <a href="/api/members" class="btn btn-light mt-4">Visit API</a>
    </div>
  </div>

  <!-- DELETE USERS -->
  <div id="delete" class="collapse {{#if errorsDel }}{{class}}{{/if}} mb-4">
    <div class="card card-body bg-danger text-white py-5">
      <h2>Delete User</h2>
      <p class="lead">Delete selected user record.</p>
      <small class="text-dark">All listed users and their personal data is fictional. Added data is stored temporary in
        RAM and will be cleared. Do not add any real personal data.</small>
    </div>
    <div class="card card-body py-4">
      <p class="lead">Select user for deleting:</p>
      <form id="formDel" action="/api/members/0?_method=DELETE" method="POST">
        <h4 class="my-2">Members</h4>
        <ul class="list-group">
          {{#each members}}
          <li class="list-group-item">{{this.name}}: {{this.email}} <input type="radio" id="{{this.id}}" name="id"
              value="{{this.id}}" class="ml-2"></li>
          {{/each}}
        </ul>
        {{#if errorsDel }}
        {{#each errorsDel }}
        <p class="alert alert-danger mt-2">{{ this.msg }}</p>
        {{/each}}
        {{/if}}
        <input type="hidden" name="test" id="hidden">
        <input type="submit" value="Submit" class="btn btn-danger btn-block btn-lg mt-4">
      </form>
      <a href="/api/members" class="btn btn-light mt-4">Visit API</a>
    </div>
  </div>
</section>

<!-- ABOUT HEADING -->
<section id="about-heading" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
          <h1>About</h1>
          <p>Read insights about this project</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ABOUT SECTION -->
<section id="about" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h3>Express Webserver</h3>
        <p>This project was created with Express JS and Handlebars for learning purposes. Check out more info about it
          and the authors on link below</p>
        <a href="{{about}}" class="btn btn-outline-primary btn-lg">Learn More</a>
      </div>
      <div class="col-md-6 mt-2">
        <picture>
          <source media="(min-width: 1400px)"
            srcset="img/resized/laptop-mockup_2x.jpg 2x, img/resized/laptop-mockup_1x.jpg">
          <source media="(min-width: 1024px)" srcset="img/resized/laptop-mockup_1024.jpg">
          <source media="(min-width: 667px)" srcset="img/resized/laptop-mockup_667.jpg">
          <source media="(max-width: 666px)" srcset="img/resized/laptop-mockup_375.jpg">
          <img src="img/resized/laptop-mockup_1024.jpg" alt="laptop advert" class="img-fluid">
        </picture>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT HEADING -->
<section id="contact-heading" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
          <h1>Contact</h1>
          <p>Contact the author</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT SECTION -->
<section id="contact" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <picture>
          <source media="(min-width: 1400px)"
            srcset="img/resized/public_img_author_2x.jpg 2x, img/resized/public_img_author_1x.jpg">
          <source media="(min-width: 1024px)" srcset="img/resized/public_img_author_1024.jpg">
          <source media="(min-width: 667px)" srcset="img/resized/public_img_author_667.jpg">
          <source media="(max-width: 666px)" srcset="img/resized/public_img_author_375.jpg">
          <img src="img/resized/public_img_author_1024.jpg" alt="authors photo"
            class="img-fluid rounded-circle d-none d-md-block">
        </picture>
      </div>
      <div class="col-md-6 align-self-center">
        <h3>Contact Me</h3>
        <p>Hi! My name is Dawid and I'm the creator of this simple site. If You have any questions about this project
          or
          web development, feel free to contact me via link below.</p>
        <a href="{{contact}}" class="btn btn-outline-success btn-lg">Contact Me</a>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER -->
<footer id="main-footer" class="text-center p-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Copyright &copy; <span id="year"></span> Express Webserver by Dawid Spałek</p>
      </div>
    </div>
  </div>
</footer>

<a id="to-top" href="#home" class="btn btn-outline-secondary btn-lg d-none d-md-block">
  <i class="fas fa-chevron-up"></i>
</a>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
  // year for copyright
  $('#year').text(new Date().getFullYear());

  //Configure slider
  $('.carousel').carousel({
    interval: 6000,
    pause: 'hover'
  });

  $('.port-item').click(function () {
    $('.collapse').collapse('hide');
  });

  $(window).on('resize', function () {
    var win = $(this);
    if (win.width() < 1024) {

      $('#port-name').addClass('display-5');

    } else {
      $('#port-name').addClass('display-4');
    }
  });

  // Init Scrollspy
  $('body').scrollspy({ target: '#main-nav' });

  // Smooth Scrolling
  $('#main-nav a, .carousel-item a, #to-top').on('click', function (e) {
    if (this.hash !== '') {
      e.preventDefault();
      const hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function () {
        window.location.hash = hash;
      });
    }
  });

  //Radio button id for form
  $(".list-group-item").on('click', function (e) {
    var radioVal = $('input:radio[name=id]:checked').val();
    $('#hidden').val(radioVal);
    $('#formPut').attr('action', "/api/members/" + radioVal + "?_method=PUT");
    $('#formDel').attr('action', "/api/members/" + radioVal + "?_method=DELETE");
  });

</script>