.dark-back {
  background-color: #212020;
}

.bg-black {
  color: #fff;
  background: #000;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}

@media (max-width: 400px) {
  .port-item {
    padding: 1em !important;
  }
}

body {
  overflow-x: hidden;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background-size: cover;
  background-position: center;

  background-image: url("../img/resized/coast-monika-spalek_1024.jpg");
  background-image: -webkit-image-set(
    url("../img/resized/coast-monika-spalek_2x.jpg") 2x,
    url("../img/resized/coast-monika-spalek_1x.jpg") 1x
  );
  background-image: image-set(
    url("../img/resized/coast-monika-spalek_2x.jpg") 2x,
    url("../img/resized/coast-monika-spalek_1x.jpg") 1x
  );
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1399px) {
  .carousel-image-1 {
    background-image: url("../img/resized/coast-monika-spalek_1024.jpg");
  }
}
@media screen and (max-width: 1023px) {
  .carousel-image-1 {
    background-image: url("../img/resized/coast-monika-spalek_667.jpg");
  }
}

.carousel-image-2 {
  background-size: cover;
  background-position: center;

  background-image: url("../img/resized/bokeh-berries-monika-spalek_1024.jpg");
  background-image: -webkit-image-set(
    url("../img/resized/bokeh-berries-monika-spalek_2x.jpg") 2x,
    url("../img/resized/bokeh-berries-monika-spalek_1x.jpg") 1x
  );
  background-image: image-set(
    url("../img/resized/bokeh-berries-monika-spalek_2x.jpg") 2x,
    url("../img/resized/bokeh-berries-monika-spalek_1x.jpg") 1x
  );
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1399px) {
  .carousel-image-2 {
    background-image: url("../img/resized/bokeh-berries-monika-spalek_1024.jpg");
  }
}
@media screen and (max-width: 1023px) {
  .carousel-image-2 {
    background-image: url("../img/resized/bokeh-berries-monika-spalek_667.jpg");
  }
}

.carousel-image-3 {
  background-size: cover;
  background-position: center;

  background-image: url("../img/resized/memory-monika-spalek_1024.jpg");
  background-image: -webkit-image-set(
    url("../img/resized/memory-monika-spalek_2x.jpg") 2x,
    url("../img/resized/memory-monika-spalek_1x.jpg") 1x
  );
  background-image: image-set(
    url("../img/resized/memory-monika-spalek_2x.jpg") 2x,
    url("../img/resized/memory-monika-spalek_1x.jpg") 1x
  );
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1399px) {
  .carousel-image-3 {
    background-image: url("../img/resized/memory-monika-spalek_1024.jpg");
  }
}
@media screen and (max-width: 1023px) {
  .carousel-image-3 {
    background-image: url("../img/resized/memory-monika-spalek_667.jpg");
  }
}

#crud-heading,
#contact-heading {
  position: relative;
  min-height: 200px;
  background-image: url("../img/resized/alex-wong-17993-unsplash_1024.jpg");
  background-image: -webkit-image-set(
    url("../img/resized/alex-wong-17993-unsplash_2x.jpg") 2x,
    url("../img/resized/alex-wong-17993-unsplash_1x.jpg") 1x
  );
  background-image: image-set(
    url("../img/resized/alex-wong-17993-unsplash_2x.jpg") 2x,
    url("../img/resized/alex-wong-17993-unsplash_1x.jpg") 1x
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1399px) {
  #crud-heading,
  #contact-heading {
    background-image: url("../img/resized/alex-wong-17993-unsplash_1024.jpg");
  }
}
@media screen and (max-width: 1023px) {
  #crud-heading,
  #contact-heading {
    background-image: url("../img/resized/alex-wong-17993-unsplash_667.jpg");
  }
}

#about-heading {
  position: relative;
  min-height: 200px;
  background-image: url("../img/resized/christopher-burns-271403-unsplash_1024.jpg");
  background-image: -webkit-image-set(
    url("../img/resized/christopher-burns-271403-unsplash_2x.jpg") 2x,
    url("../img/resized/christopher-burns-271403-unsplash_1x.jpg") 1x
  );
  background-image: image-set(
    url("../img/resized/christopher-burns-271403-unsplash_2x.jpg") 2x,
    url("../img/resized/christopher-burns-271403-unsplash_1x.jpg") 1x
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1399px) {
  #about-heading {
    background-image: url("../img/resized/christopher-burns-271403-unsplash_1024.jpg");
  }
}
@media screen and (max-width: 1023px) {
  #about-heading {
    background-image: url("../img/resized/christopher-burns-271403-unsplash_667.jpg");
  }
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#page-header {
  height: 20%;
  background-image: url("../img/resized/memory-monika-spalek_1024.jpg");
  background-image: -webkit-image-set(
    url("../img/resized/memory-monika-spalek_2x.jpg") 2x,
    url("../img/resized/memory-monika-spalek_1x.jpg") 1x
  );
  background-image: image-set(
    url("../img/resized/memory-monika-spalek_2x.jpg") 2x,
    url("../img/resized/memory-monika-spalek_1x.jpg") 1x
  );
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1399px) {
  #page-header {
    background-image: url("../img/resized/memory-monika-spalek_1024.jpg");
  }
}
@media screen and (max-width: 1023px) {
  #page-header {
    background-image: url("../img/resized/memory-monika-spalek_667.jpg");
  }
}

.about-img {
  margin-top: -50px;
}

#main-footer {
  background: #000;
  color: #fff;
}

#crud {
  padding-left: 0;
  padding-right: 0;
}

abbr[title] {
  text-decoration: none;
  border: none;
}

#to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
